@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    margin-left: 900px;
}

.navigation {
    position: absolute;
    margin-left: 1750px;
}

.navigation a {
    list-style: none;
    text-decoration: none;
    margin-right: 80px;
    background-color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rebeccapurple;
}


.icon img {
    height: 48px;
    margin-right: 33px;
}

.wallpaper {
    height: 40vh;
    background-color: yellowgreen;
}


.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    gap: 1rem;
}

.phrase p {
    font-size: 25px;
}

.register a {
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}


  