@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(./assets/LetrasProyectoNazan-Regular\ \(1\).ttf);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(29, 29, 85);
}

header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.wallpaper img {
  height: 77vh;
  width: 100%;
  object-fit: fill;
}

.titleh1 {
  color: #b8c1ec;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.logo img {
    margin-left: 800px;
    width: 40%;
    height: 20px;
}

.navigation {
    position: absolute;
    margin-left: 1750px;
}

.navigation a {
    list-style: none;
    text-decoration: none;
    margin-right: 80px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #b8c1ec;
}


.wallpaper img{
    height: 70vh;
    object-fit: fill;
}


.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.phrase p {
    font-size: 25px;
    color: #b8c1ec;
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
    cursor: pointer;
  }
  
  .register-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  

  .social {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  button {
    position: relative;
    border: none;
    margin: 10px;
    background-color: transparent;
  }
  
  button a {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  button a:hover {
    transform: translateY(-20px);
  }
  
  button a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1.5s ease;
  }
  
  button a:hover::before {
    transform: skewX(45deg) translateX(-150px);
  }
  
  button a svg {
    width: 4em;
  }

